<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Wichtel-Generator</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			html, body {
				height: 100%;
				width: 100%;
				overflow: auto;
				margin: 0;
				padding: 0;
			}
			body {
				background-attachment: fixed;
				background-position: center center;
				background-size: cover;
				font-family: sans-serif;
				font-weight: 300;
				font-size: 16px;
				line-height: 1.3em;
			}
			#wrapper {
				text-align: left;
				margin-top: 50px;
				margin-bottom: 100px;
				padding: 5px 30px 30px 30px;
				border-radius: 30px;
				box-sizing: border-box;
				transition: margin 0.5s, background 0.5s, backdrop-filter 0.5s;
			}
			h1 {
				font-size: 30px;
				font-weight: 500;
				margin: 30px 0 15px;
				line-height: 1.3em;
			}
			h2 {
				font-size: 20px;
				font-weight: 500;
				margin: 30px 0 15px;
				line-height: 1.3em;
			}
			a,b {
				font-weight: 600;
				color: #000;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
			}
			.thumb {
				width: 24.9%;
				float: left;
				cursor: pointer;
				box-sizing: border-box;
				border: 2px solid transparent;
				border-radius: 2px;
			}
			.thumb:hover {
				border-color: #000;
			}
			input {
				border: 2px solid transparent;
				border-radius: 10px;
				padding: 10px;
				color: #000;
				cursor: pointer;
				font-weight: 500;
				font-size: 20px;
				display: block;
				margin: 10px auto;
				outline: none;
				transition: background-color 0.1s, border-color 0.1s, color 0.1s;
			}
			input:focus {
				border-color: #000;
			}
			input[type="text"] {
				background-color: rgba(0,0,0,0.1);
			}
			input[type="text"]:hover {
				background-color: rgba(0,0,0,0.2);
			}
			input[type="submit"] {
				border-color: #000;
				background-color: #000;
				color: #fff;
			}
			input[type="submit"]:hover, input[type="submit"]:focus {
				background-color: transparent;
				color: #000;
			}
			{{ for theme of themes }}
				.theme_{{ theme.name }} {
					background-image: url(/assets/images/background/{{ theme.filename }});
					color: {{ theme.color.text }};
				}
				.theme_{{ theme.name }} #wrapper {
					{{ if theme.posX.isLeft }}
						margin-left:  5vw;
						margin-right: 45vw;
					{{ /if }}
					{{ if theme.posX.isCenter }}
						margin-left: 25vw;
						margin-right: 25vw;
					{{ /if }}
					{{ if theme.color.isBlack }}
						backdrop-filter: blur(15px) brightness(90%);
						-webkit-backdrop-filter: blur(15px) brightness(90%);
					{{ /if }}
					{{ if theme.color.isWhite }}
						backdrop-filter: blur(15px) contrast(90%) brightness(111%);
						-webkit-backdrop-filter: blur(15px) contrast(90%) brightness(111%);
					{{ /if }}
				}
				{{ if theme.color.isBlack }} 
				.theme_{{ theme.name }} .thumb:hover {
					border-color: #fff;
				}
				.theme_{{ theme.name }} input {
					color: #fff;
				}
				.theme_{{ theme.name }} input:focus {
					border-color: #fff;
				}
				.theme_{{ theme.name }} input[type="text"] {
					background-color: rgba(255,255,255,0.1);
				}
				.theme_{{ theme.name }} input[type="text"]:hover {
					background-color: rgba(255,255,255,0.2);
				}
				.theme_{{ theme.name }} input[type="submit"] {
					border-color: #fff;
					background-color: #fff;
					color: #000;
				}
				.theme_{{ theme.name }} input[type="submit"]:hover,
				.theme_{{ theme.name }} input[type="submit"]:focus {
					background-color: transparent;
					color: #fff;
				}
				.theme_{{ theme.name }} a, .theme_{{ theme.name }} b {
					color: #fff;
				}
				{{ /if }} 
			{{ /for }}
			@media (max-width: 600px) {
				#wrapper {
					margin-right: 5vw !important;
					margin-left: 5vw !important;
				}
			}
		</style>
	</head>
	<body id="body" class="theme_{{ theme }}">
		<div id="wrapper">
			{{ content }}
		</div>
		<script src="/assets/snowflakes.js"></script>
		<script>Snowflakes();</script>
	</body>
</html>